In [17]:
from scipy.optimize import minimize
import joblib
import numpy as np
%run 2.Hicks_Henne_NEW_Final.ipynb
%run 3.Xfoil_runner_extract_value.ipynb

In [18]:
def get_new_sobol_samples(limit, num_samples, seed=None):
    l00, l01 = limit[0][0], limit[0][1]
    l10, l11 = limit[1][0], limit[1][1]
    l20, l21 = limit[2][0], limit[2][1]
    l30, l31 = limit[3][0], limit[3][1]
    l40, l41 = limit[4][0], limit[4][1]
    l50, l51 = limit[5][0], limit[5][1] 
    l60, l61 = limit[6][0], limit[6][1]
    l70, l71 = limit[7][0], limit[7][1]
    
    bounds = {"x1": [l00, l01], "x2": [l10, l11], "x3": [l20, l21], "x4": [l30, l31], 
              "x5": [l40, l41], "x6": [l50, l51], "x7": [l60, l61], "x8": [l70, l71]}
    sampler = Sobol(len(bounds), seed=seed)
    samples = sampler.random(num_samples)
    
    l_bounds = [bound[0] for bound in bounds.values()]
    u_bounds = [bound[1] for bound in bounds.values()]
    samples = qmc.scale(samples, l_bounds, u_bounds)
    design_parameter = pd.DataFrame(samples, columns=list(bounds.keys())).round(4)
    a = design_parameter.apply(np.array, axis=1)
    return a

In [19]:
new_dataset = pd.read_excel('new_dataset.xlsx')
new_dataset.drop(columns=['Unnamed: 0'], inplace=True)
new_dataset

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.0084,0.01040,-0.003300,-0.0033,-0.008600,0.001500,-0.001900,-0.002700,0.5294,0.00733
1,-0.0045,-0.00350,0.005700,0.0062,0.010600,-0.006000,0.010100,0.003700,0.6747,0.00947
2,-0.0093,0.00380,-0.008300,-0.0113,0.003000,-0.002800,-0.009300,0.008500,0.4693,0.00959
3,0.0019,-0.00930,0.006700,0.0025,-0.001200,0.007700,0.002600,-0.009200,0.5034,0.00928
4,0.0045,0.00170,0.002600,0.0050,-0.003900,0.003400,-0.008700,0.010500,0.6249,0.00916
...,...,...,...,...,...,...,...,...,...,...
122,0.0086,-0.00190,0.004900,0.0103,-0.005800,0.007200,-0.004800,-0.000700,0.5924,0.00868
123,0.0120,0.01200,0.012000,0.0120,0.012000,0.012000,0.012000,0.012000,0.9192,0.00840
124,0.0120,0.01199,-0.011381,-0.0120,0.009502,-0.010514,0.011985,-0.004075,0.5818,0.00716
125,0.0120,0.01200,-0.012000,-0.0120,-0.009437,0.006223,0.011922,-0.003731,0.5626,0.00705
126,-0.0120,-0.01200,0.007357,0.0120,-0.012000,-0.007985,0.006126,0.006660,0.5498,0.01109

In [20]:
X = new_dataset[['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'] ]
X = X.apply(np.array, axis = 1)
new_sample_param = X[123:127]
new_sample_param

123    [0.012, 0.01199999858410622, 0.012, 0.01199998...
124    [0.01199999999999999, 0.01198984176621668, -0....
125    [0.01199999946287639, 0.01199984516211375, -0....
126    [-0.01199999999999997, -0.01199999994779628, 0...
dtype: object

In [21]:
disp = 0.0005
new_num_samples = 4
for i in range(123, 127):
    limit= []
    a_new = X[i]
    for j in a_new:
        l= []
        l.append(j-disp)
        l.append(j+disp)
        limit.append(l)
    s_new = get_new_sobol_samples(limit, new_num_samples, seed=None)
    new_sample_param = np.append(new_sample_param,s_new)
new_sample_param

array([array([0.012     , 0.012     , 0.012     , 0.01199999, 0.01199999,
              0.012     , 0.012     , 0.012     ])                       ,
       array([ 0.012     ,  0.01198984, -0.01138061, -0.012     ,  0.00950239,
              -0.01051436,  0.01198549, -0.00407543])                         ,
       array([ 0.012     ,  0.01199985, -0.01199993, -0.012     , -0.00943725,
               0.00622261,  0.0119218 , -0.00373086])                         ,
       array([-0.012     , -0.012     ,  0.00735729,  0.012     , -0.012     ,
              -0.00798543,  0.00612598,  0.00666   ])                         ,
       array([0.0122, 0.0115, 0.0118, 0.0117, 0.0121, 0.0124, 0.0121, 0.0118]),
       array([0.0116, 0.0122, 0.0121, 0.0121, 0.0119, 0.0119, 0.0116, 0.0124]),
       array([0.0119, 0.0119, 0.0117, 0.0119, 0.0115, 0.0116, 0.0123, 0.0121]),
       array([0.0124, 0.0123, 0.0125, 0.0123, 0.0125, 0.0122, 0.0119, 0.0117]),
       array([ 0.0116,  0.0118, -0.0114, -0.0118,  0.0095, -0.0109,  0.0122,
              -0.004 ])                                                     ,
       array([ 0.0121,  0.0122, -0.0112, -0.0122,  0.01  , -0.0104,  0.0115,
              -0.0041])                                                     ,
       array([ 0.0123,  0.0116, -0.0117, -0.0116,  0.0096, -0.01  ,  0.0123,
              -0.0043])                                                     ,
       array([ 0.012 ,  0.0124, -0.011 , -0.0125,  0.0091, -0.0105,  0.012 ,
              -0.0037])                                                     ,
       array([ 0.0117,  0.0118, -0.0116, -0.0117, -0.0092,  0.006 ,  0.0114,
              -0.0034])                                                     ,
       array([ 0.012 ,  0.0123, -0.0124, -0.0121, -0.0094,  0.0064,  0.0121,
              -0.0041])                                                     ,
       array([ 0.0125,  0.0116, -0.0118, -0.0118, -0.0098,  0.0065,  0.0119,
              -0.0038])                                                     ,
       array([ 0.0119,  0.0121, -0.0122, -0.0124, -0.0094,  0.0059,  0.0122,
              -0.0036])                                                     ,
       array([-0.0121, -0.0119,  0.0073,  0.0121, -0.0123, -0.0077,  0.0061,
               0.0066])                                                     ,
       array([-0.012 , -0.0121,  0.0074,  0.0118, -0.0117, -0.0084,  0.0059,
               0.0071])                                                     ,
       array([-0.0115, -0.0117,  0.0071,  0.0124, -0.0119, -0.0082,  0.0065,
               0.0069])                                                     ,
       array([-0.0124, -0.0123,  0.0077,  0.0116, -0.0121, -0.008 ,  0.0057,
               0.0064])                                                     ],
      dtype=object)

In [22]:
def deformed_foil_generator(x, y, n, a, w, xM):
    for i in range(len(a)):
        y_mod = hicks_henne_overall(x, y, n, a, i, w, xM)
        df = pd.DataFrame({'x': x, 'y_modified': y_mod})
        path = "Deformed_foils\\Deformed_airfoil_" + str(i+12) + ".dat"
        
        df.to_csv(path, index=False, sep=' ')

In [23]:
if globals().get('__file__', '') == '':
    deformed_foil_generator(x, y, n, new_sample_param, w, xM)

In [24]:
new_sample_param = np.vstack(new_sample_param)
new_sample_param

array([[ 0.012     ,  0.012     ,  0.012     ,  0.01199999,  0.01199999,
         0.012     ,  0.012     ,  0.012     ],
       [ 0.012     ,  0.01198984, -0.01138061, -0.012     ,  0.00950239,
        -0.01051436,  0.01198549, -0.00407543],
       [ 0.012     ,  0.01199985, -0.01199993, -0.012     , -0.00943725,
         0.00622261,  0.0119218 , -0.00373086],
       [-0.012     , -0.012     ,  0.00735729,  0.012     , -0.012     ,
        -0.00798543,  0.00612598,  0.00666   ],
       [ 0.0122    ,  0.0115    ,  0.0118    ,  0.0117    ,  0.0121    ,
         0.0124    ,  0.0121    ,  0.0118    ],
       [ 0.0116    ,  0.0122    ,  0.0121    ,  0.0121    ,  0.0119    ,
         0.0119    ,  0.0116    ,  0.0124    ],
       [ 0.0119    ,  0.0119    ,  0.0117    ,  0.0119    ,  0.0115    ,
         0.0116    ,  0.0123    ,  0.0121    ],
       [ 0.0124    ,  0.0123    ,  0.0125    ,  0.0123    ,  0.0125    ,
         0.0122    ,  0.0119    ,  0.0117    ],
       [ 0.0116    ,  0.0118    , -0.0114    , -0.0118    ,  0.0095    ,
        -0.0109    ,  0.0122    , -0.004     ],
       [ 0.0121    ,  0.0122    , -0.0112    , -0.0122    ,  0.01      ,
        -0.0104    ,  0.0115    , -0.0041    ],
       [ 0.0123    ,  0.0116    , -0.0117    , -0.0116    ,  0.0096    ,
        -0.01      ,  0.0123    , -0.0043    ],
       [ 0.012     ,  0.0124    , -0.011     , -0.0125    ,  0.0091    ,
        -0.0105    ,  0.012     , -0.0037    ],
       [ 0.0117    ,  0.0118    , -0.0116    , -0.0117    , -0.0092    ,
         0.006     ,  0.0114    , -0.0034    ],
       [ 0.012     ,  0.0123    , -0.0124    , -0.0121    , -0.0094    ,
         0.0064    ,  0.0121    , -0.0041    ],
       [ 0.0125    ,  0.0116    , -0.0118    , -0.0118    , -0.0098    ,
         0.0065    ,  0.0119    , -0.0038    ],
       [ 0.0119    ,  0.0121    , -0.0122    , -0.0124    , -0.0094    ,
         0.0059    ,  0.0122    , -0.0036    ],
       [-0.0121    , -0.0119    ,  0.0073    ,  0.0121    , -0.0123    ,
        -0.0077    ,  0.0061    ,  0.0066    ],
       [-0.012     , -0.0121    ,  0.0074    ,  0.0118    , -0.0117    ,
        -0.0084    ,  0.0059    ,  0.0071    ],
       [-0.0115    , -0.0117    ,  0.0071    ,  0.0124    , -0.0119    ,
        -0.0082    ,  0.0065    ,  0.0069    ],
       [-0.0124    , -0.0123    ,  0.0077    ,  0.0116    , -0.0121    ,
        -0.008     ,  0.0057    ,  0.0064    ]])

In [25]:
new_sample_param.shape

(20, 8)

In [26]:
len(new_sample_param)

20

In [27]:
columns = ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8']
new_sample_param = pd.DataFrame(new_sample_param, columns=columns)
new_sample_param

        x1       x2        x3      x4        x5        x6        x7        x8
0   0.0120  0.01200  0.012000  0.0120  0.012000  0.012000  0.012000  0.012000
1   0.0120  0.01199 -0.011381 -0.0120  0.009502 -0.010514  0.011985 -0.004075
2   0.0120  0.01200 -0.012000 -0.0120 -0.009437  0.006223  0.011922 -0.003731
3  -0.0120 -0.01200  0.007357  0.0120 -0.012000 -0.007985  0.006126  0.006660
4   0.0122  0.01150  0.011800  0.0117  0.012100  0.012400  0.012100  0.011800
5   0.0116  0.01220  0.012100  0.0121  0.011900  0.011900  0.011600  0.012400
6   0.0119  0.01190  0.011700  0.0119  0.011500  0.011600  0.012300  0.012100
7   0.0124  0.01230  0.012500  0.0123  0.012500  0.012200  0.011900  0.011700
8   0.0116  0.01180 -0.011400 -0.0118  0.009500 -0.010900  0.012200 -0.004000
9   0.0121  0.01220 -0.011200 -0.0122  0.010000 -0.010400  0.011500 -0.004100
10  0.0123  0.01160 -0.011700 -0.0116  0.009600 -0.010000  0.012300 -0.004300
11  0.0120  0.01240 -0.011000 -0.0125  0.009100 -0.010500  0.012000 -0.003700
12  0.0117  0.01180 -0.011600 -0.0117 -0.009200  0.006000  0.011400 -0.003400
13  0.0120  0.01230 -0.012400 -0.0121 -0.009400  0.006400  0.012100 -0.004100
14  0.0125  0.01160 -0.011800 -0.0118 -0.009800  0.006500  0.011900 -0.003800
15  0.0119  0.01210 -0.012200 -0.0124 -0.009400  0.005900  0.012200 -0.003600
16 -0.0121 -0.01190  0.007300  0.0121 -0.012300 -0.007700  0.006100  0.006600
17 -0.0120 -0.01210  0.007400  0.0118 -0.011700 -0.008400  0.005900  0.007100
18 -0.0115 -0.01170  0.007100  0.0124 -0.011900 -0.008200  0.006500  0.006900
19 -0.0124 -0.01230  0.007700  0.0116 -0.012100 -0.008000  0.005700  0.006400

In [28]:
new_sample_param.to_excel('new_sample_param.xlsx')

In [29]:
if globals().get('__file__', '') == '':
    # Save the current directory
    original_directory = os.getcwd()
    
    # Navigate to another folder
    os.chdir(original_directory + '\\Deformed_foils')

In [30]:
def new_deformed_foil_data_from_Xfoil(alpha, Re, n_iter, num_samples, file_name):
    #outputs
    CL = []
    CD = []
    for i in range(num_samples):
        airfoil_name = "Deformed_airfoil_"+str(i+128)
        cl_i, cd_i = Xfoil_runner(alpha, Re, n_iter, airfoil_name)
        CL.append(cl_i)
        CD.append(cd_i)
        print(i,"-------->",cl_i,cd_i)
    data = {'CL': CL,'CD': CD}
    CL_CD = pd.DataFrame(data)
    
    # Return to the original directory
    os.chdir(original_directory)
    CL_CD.to_excel(file_name)
    return CL_CD

In [31]:
if globals().get('__file__', '') == '':
    file_name = 'new_Cl_Cd.xlsx'
    num_samples = 20
    CL_CD = new_deformed_foil_data_from_Xfoil(alpha, Re, n_iter, num_samples, file_name)

0 --------> 0.9192 0.0084
1 --------> 0.5818 0.00716
2 --------> 0.5626 0.00705
3 --------> 0.5498 0.01109
4 --------> 0.9222 0.00837
5 --------> 0.9211 0.00842
6 --------> 0.921 0.00836
7 --------> 0.9143 0.00844
8 --------> 0.5794 0.00716
9 --------> 0.5845 0.00718
10 --------> 0.585 0.00713
11 --------> 0.5757 0.00719
12 --------> 0.5677 0.00704
13 --------> 0.5614 0.00707
14 --------> 0.56 0.00706
15 --------> 0.5617 0.00704
16 --------> 0.546 0.01112
17 --------> 0.5512 0.01107
18 --------> nan nan
19 --------> 0.5476 0.01115

In [41]:
new_df = pd.merge(new_sample_param, CL_CD, left_index=True, right_index=True)
new_df = new_df.dropna()
new_df

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.0120,0.01200,0.012000,0.0120,0.012000,0.012000,0.012000,0.012000,0.9192,0.00840
1,0.0120,0.01199,-0.011381,-0.0120,0.009502,-0.010514,0.011985,-0.004075,0.5818,0.00716
2,0.0120,0.01200,-0.012000,-0.0120,-0.009437,0.006223,0.011922,-0.003731,0.5626,0.00705
3,-0.0120,-0.01200,0.007357,0.0120,-0.012000,-0.007985,0.006126,0.006660,0.5498,0.01109
4,0.0122,0.01150,0.011800,0.0117,0.012100,0.012400,0.012100,0.011800,0.9222,0.00837
5,0.0116,0.01220,0.012100,0.0121,0.011900,0.011900,0.011600,0.012400,0.9211,0.00842
6,0.0119,0.01190,0.011700,0.0119,0.011500,0.011600,0.012300,0.012100,0.9210,0.00836
7,0.0124,0.01230,0.012500,0.0123,0.012500,0.012200,0.011900,0.011700,0.9143,0.00844
8,0.0116,0.01180,-0.011400,-0.0118,0.009500,-0.010900,0.012200,-0.004000,0.5794,0.00716
9,0.0121,0.01220,-0.011200,-0.0122,0.010000,-0.010400,0.011500,-0.004100,0.5845,0.00718
10,0.0123,0.01160,-0.011700,-0.0116,0.009600,-0.010000,0.012300,-0.004300,0.5850,0.00713
11,0.0120,0.01240,-0.011000,-0.0125,0.009100,-0.010500,0.012000,-0.003700,0.5757,0.00719
12,0.0117,0.01180,-0.011600,-0.0117,-0.009200,0.006000,0.011400,-0.003400,0.5677,0.00704
13,0.0120,0.01230,-0.012400,-0.0121,-0.009400,0.006400,0.012100,-0.004100,0.5614,0.00707
14,0.0125,0.01160,-0.011800,-0.0118,-0.009800,0.006500,0.011900,-0.003800,0.5600,0.00706
15,0.0119,0.01210,-0.012200,-0.0124,-0.009400,0.005900,0.012200,-0.003600,0.5617,0.00704
16,-0.0121,-0.01190,0.007300,0.0121,-0.012300,-0.007700,0.006100,0.006600,0.5460,0.01112
17,-0.0120,-0.01210,0.007400,0.0118,-0.011700,-0.008400,0.005900,0.007100,0.5512,0.01107
19,-0.0124,-0.01230,0.007700,0.0116,-0.012100,-0.008000,0.005700,0.006400,0.5476,0.01115