In [1]:
from scipy.optimize import minimize
import joblib
import numpy as np
%run 2.Hicks_Henne_NEW_Final.ipynb
%run 3.Xfoil_runner_extract_value.ipynb

In [2]:
def get_new_sobol_samples(limit, num_samples, seed=None):
    l00, l01 = limit[0][0], limit[0][1]
    l10, l11 = limit[1][0], limit[1][1]
    l20, l21 = limit[2][0], limit[2][1]
    l30, l31 = limit[3][0], limit[3][1]
    l40, l41 = limit[4][0], limit[4][1]
    l50, l51 = limit[5][0], limit[5][1] 
    l60, l61 = limit[6][0], limit[6][1]
    l70, l71 = limit[7][0], limit[7][1]
    
    bounds = {"x1": [l00, l01], "x2": [l10, l11], "x3": [l20, l21], "x4": [l30, l31], 
              "x5": [l40, l41], "x6": [l50, l51], "x7": [l60, l61], "x8": [l70, l71]}
    sampler = Sobol(len(bounds), seed=seed)
    samples = sampler.random(num_samples)
    
    l_bounds = [bound[0] for bound in bounds.values()]
    u_bounds = [bound[1] for bound in bounds.values()]
    samples = qmc.scale(samples, l_bounds, u_bounds)
    design_parameter = pd.DataFrame(samples, columns=list(bounds.keys())).round(4)
    a = design_parameter.apply(np.array, axis=1)
    return a

In [3]:
new_dataset = pd.read_excel('new_dataset.xlsx')
new_dataset.drop(columns=['Unnamed: 0'], inplace=True)
new_dataset

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.008400,0.010400,-0.003300,-0.003300,-0.008600,0.001500,-0.001900,-0.002700,0.5294,0.00733
1,-0.004500,-0.003500,0.005700,0.006200,0.010600,-0.006000,0.010100,0.003700,0.6747,0.00947
2,-0.009300,0.003800,-0.008300,-0.011300,0.003000,-0.002800,-0.009300,0.008500,0.4693,0.00959
3,0.001900,-0.009300,0.006700,0.002500,-0.001200,0.007700,0.002600,-0.009200,0.5034,0.00928
4,0.004500,0.001700,0.002600,0.005000,-0.003900,0.003400,-0.008700,0.010500,0.6249,0.00916
...,...,...,...,...,...,...,...,...,...,...
173,0.011800,0.011500,-0.006400,-0.012000,0.007600,-0.012700,0.010400,0.011000,0.6356,0.00791
174,0.010700,0.011400,-0.007900,-0.011700,0.006600,-0.011500,0.009100,0.012500,0.6318,0.00793
175,0.011941,0.011457,0.002595,0.011851,0.004686,0.011751,0.011638,0.009055,0.8559,0.00815
176,0.010971,0.009855,0.010905,0.012000,0.012000,0.012000,0.008018,0.010972,0.8840,0.00847
177,0.009759,0.011468,0.011841,0.010831,0.012000,0.011967,0.010332,0.008580,0.8908,0.00836

In [4]:
length = len(new_dataset)
length

178

In [5]:
X = new_dataset[['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8'] ]
X = X.apply(np.array, axis = 1)
new_sample_param = X[[length-3,length-2,length-1]]
new_sample_param

175    [0.01194096841182561, 0.01145707859377791, 0.0...
176    [0.0109709751868519, 0.009855479335203927, 0.0...
177    [0.009759198480242377, 0.01146769627071428, 0....
dtype: object

In [6]:
disp = 0.001
new_num_samples = 4
for i in [length-3,length-2,length-1]:
    limit= []
    a_new = X[i]
    for j in a_new:
        l= []
        l.append(j-disp)
        l.append(j+disp)
        limit.append(l)
    s_new = get_new_sobol_samples(limit, new_num_samples, seed=42)
    new_sample_param = np.append(new_sample_param,s_new)
new_sample_param

array([array([0.01194097, 0.01145708, 0.00259492, 0.011851  , 0.00468562,
              0.01175148, 0.01163778, 0.00905454])                       ,
       array([0.01097098, 0.00985548, 0.01090458, 0.012     , 0.01199999,
              0.012     , 0.00801838, 0.01097239])                       ,
       array([0.0097592 , 0.0114677 , 0.01184147, 0.01083053, 0.012     ,
              0.01196696, 0.01033246, 0.00857964])                       ,
       array([0.0118, 0.0121, 0.0032, 0.011 , 0.0043, 0.0124, 0.012 , 0.0093]),
       array([0.0128, 0.0107, 0.0025, 0.0128, 0.0056, 0.0116, 0.0107, 0.0088]),
       array([0.0122, 0.0116, 0.0031, 0.0117, 0.0049, 0.011 , 0.0125, 0.0085]),
       array([0.011 , 0.0114, 0.0016, 0.0121, 0.0039, 0.0122, 0.0112, 0.01  ]),
       array([0.0108, 0.0105, 0.0115, 0.0111, 0.0116, 0.0127, 0.0084, 0.0112]),
       array([0.0119, 0.0091, 0.0108, 0.013 , 0.0129, 0.0119, 0.0071, 0.0107]),
       array([0.0112, 0.0099, 0.0114, 0.0119, 0.0122, 0.0112, 0.0089, 0.0104]),
       array([0.01  , 0.0098, 0.0099, 0.0122, 0.0113, 0.0125, 0.0076, 0.0119]),
       array([0.0096, 0.0121, 0.0125, 0.0099, 0.0116, 0.0126, 0.0107, 0.0088]),
       array([0.0106, 0.0107, 0.0118, 0.0118, 0.0129, 0.0119, 0.0094, 0.0083]),
       array([0.01  , 0.0116, 0.0123, 0.0107, 0.0122, 0.0112, 0.0112, 0.008 ]),
       array([0.0088, 0.0114, 0.0109, 0.0111, 0.0113, 0.0124, 0.0099, 0.0095])],
      dtype=object)

In [7]:
len(new_sample_param)

15

In [8]:
def deformed_foil_generator(x, y, n, a, w, xM):
    for i in range(len(a)):
        y_mod = hicks_henne_overall(x, y, n, a, i, w, xM)
        df = pd.DataFrame({'x': x, 'y_modified': y_mod})
        path = "Deformed_foils\\Deformed_airfoil_" + str(i+175) + ".dat"
        
        df.to_csv(path, index=False, sep=' ')

In [9]:
if globals().get('__file__', '') == '':
    deformed_foil_generator(x, y, n, new_sample_param, w, xM)

In [10]:
new_sample_param = np.vstack(new_sample_param)
new_sample_param

array([[0.01194097, 0.01145708, 0.00259492, 0.011851  , 0.00468562,
        0.01175148, 0.01163778, 0.00905454],
       [0.01097098, 0.00985548, 0.01090458, 0.012     , 0.01199999,
        0.012     , 0.00801838, 0.01097239],
       [0.0097592 , 0.0114677 , 0.01184147, 0.01083053, 0.012     ,
        0.01196696, 0.01033246, 0.00857964],
       [0.0118    , 0.0121    , 0.0032    , 0.011     , 0.0043    ,
        0.0124    , 0.012     , 0.0093    ],
       [0.0128    , 0.0107    , 0.0025    , 0.0128    , 0.0056    ,
        0.0116    , 0.0107    , 0.0088    ],
       [0.0122    , 0.0116    , 0.0031    , 0.0117    , 0.0049    ,
        0.011     , 0.0125    , 0.0085    ],
       [0.011     , 0.0114    , 0.0016    , 0.0121    , 0.0039    ,
        0.0122    , 0.0112    , 0.01      ],
       [0.0108    , 0.0105    , 0.0115    , 0.0111    , 0.0116    ,
        0.0127    , 0.0084    , 0.0112    ],
       [0.0119    , 0.0091    , 0.0108    , 0.013     , 0.0129    ,
        0.0119    , 0.0071    , 0.0107    ],
       [0.0112    , 0.0099    , 0.0114    , 0.0119    , 0.0122    ,
        0.0112    , 0.0089    , 0.0104    ],
       [0.01      , 0.0098    , 0.0099    , 0.0122    , 0.0113    ,
        0.0125    , 0.0076    , 0.0119    ],
       [0.0096    , 0.0121    , 0.0125    , 0.0099    , 0.0116    ,
        0.0126    , 0.0107    , 0.0088    ],
       [0.0106    , 0.0107    , 0.0118    , 0.0118    , 0.0129    ,
        0.0119    , 0.0094    , 0.0083    ],
       [0.01      , 0.0116    , 0.0123    , 0.0107    , 0.0122    ,
        0.0112    , 0.0112    , 0.008     ],
       [0.0088    , 0.0114    , 0.0109    , 0.0111    , 0.0113    ,
        0.0124    , 0.0099    , 0.0095    ]])

In [11]:
new_sample_param.shape

(15, 8)

In [12]:
len(new_sample_param)

15

In [13]:
columns = ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8']
new_sample_param = pd.DataFrame(new_sample_param, columns=columns)
new_sample_param

,x1,x2,x3,x4,x5,x6,x7,x8
0,0.011941,0.011457,0.002595,0.011851,0.004686,0.011751,0.011638,0.009055
1,0.010971,0.009855,0.010905,0.012000,0.012000,0.012000,0.008018,0.010972
2,0.009759,0.011468,0.011841,0.010831,0.012000,0.011967,0.010332,0.008580
3,0.011800,0.012100,0.003200,0.011000,0.004300,0.012400,0.012000,0.009300
4,0.012800,0.010700,0.002500,0.012800,0.005600,0.011600,0.010700,0.008800
5,0.012200,0.011600,0.003100,0.011700,0.004900,0.011000,0.012500,0.008500
6,0.011000,0.011400,0.001600,0.012100,0.003900,0.012200,0.011200,0.010000
7,0.010800,0.010500,0.011500,0.011100,0.011600,0.012700,0.008400,0.011200
8,0.011900,0.009100,0.010800,0.013000,0.012900,0.011900,0.007100,0.010700
9,0.011200,0.009900,0.011400,0.011900,0.012200,0.011200,0.008900,0.010400
10,0.010000,0.009800,0.009900,0.012200,0.011300,0.012500,0.007600,0.011900
11,0.009600,0.012100,0.012500,0.009900,0.011600,0.012600,0.010700,0.008800
12,0.010600,0.010700,0.011800,0.011800,0.012900,0.011900,0.009400,0.008300
13,0.010000,0.011600,0.012300,0.010700,0.012200,0.011200,0.011200,0.008000
14,0.008800,0.011400,0.010900,0.011100,0.011300,0.012400,0.009900,0.009500

In [14]:
new_sample_param.to_excel('new_sample_param.xlsx')

In [15]:
if globals().get('__file__', '') == '':
    # Save the current directory
    original_directory = os.getcwd()
    
    # Navigate to another folder
    os.chdir(original_directory + '\\Deformed_foils')

In [16]:
def new_deformed_foil_data_from_Xfoil(alpha, Re, n_iter, num_samples, file_name):
    #outputs
    CL = []
    CD = []
    for i in range(num_samples):
        airfoil_name = "Deformed_airfoil_"+str(i+175)
        cl_i, cd_i = Xfoil_runner(alpha, Re, n_iter, airfoil_name)
        CL.append(cl_i)
        CD.append(cd_i)
        print(i,"-------->",cl_i,cd_i)
    data = {'CL': CL,'CD': CD}
    CL_CD = pd.DataFrame(data)
    
    # Return to the original directory
    os.chdir(original_directory)
    CL_CD.to_excel(file_name)
    return CL_CD

In [17]:
if globals().get('__file__', '') == '':
    file_name = 'new_Cl_Cd.xlsx'
    num_samples = 15
    CL_CD = new_deformed_foil_data_from_Xfoil(alpha, Re, n_iter, num_samples, file_name)

0 --------> 0.8559 0.00815
1 --------> 0.884 0.00847
2 --------> 0.8908 0.00836
3 --------> 0.8604 0.00807
4 --------> 0.8564 0.00821
5 --------> 0.8587 0.00815
6 --------> 0.8503 0.00813
7 --------> 0.8889 0.00842
8 --------> 0.8834 0.00857
9 --------> 0.8862 0.00848
10 --------> 0.8782 0.00849
11 --------> 0.8954 0.00828
12 --------> 0.8906 0.00846
13 --------> 0.8936 0.00835
14 --------> 0.8846 0.00839

In [18]:
new_df = pd.merge(new_sample_param, CL_CD, left_index=True, right_index=True)
new_df = new_df.dropna()
new_df

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.011941,0.011457,0.002595,0.011851,0.004686,0.011751,0.011638,0.009055,0.8559,0.00815
1,0.010971,0.009855,0.010905,0.012000,0.012000,0.012000,0.008018,0.010972,0.8840,0.00847
2,0.009759,0.011468,0.011841,0.010831,0.012000,0.011967,0.010332,0.008580,0.8908,0.00836
3,0.011800,0.012100,0.003200,0.011000,0.004300,0.012400,0.012000,0.009300,0.8604,0.00807
4,0.012800,0.010700,0.002500,0.012800,0.005600,0.011600,0.010700,0.008800,0.8564,0.00821
5,0.012200,0.011600,0.003100,0.011700,0.004900,0.011000,0.012500,0.008500,0.8587,0.00815
6,0.011000,0.011400,0.001600,0.012100,0.003900,0.012200,0.011200,0.010000,0.8503,0.00813
7,0.010800,0.010500,0.011500,0.011100,0.011600,0.012700,0.008400,0.011200,0.8889,0.00842
8,0.011900,0.009100,0.010800,0.013000,0.012900,0.011900,0.007100,0.010700,0.8834,0.00857
9,0.011200,0.009900,0.011400,0.011900,0.012200,0.011200,0.008900,0.010400,0.8862,0.00848
10,0.010000,0.009800,0.009900,0.012200,0.011300,0.012500,0.007600,0.011900,0.8782,0.00849
11,0.009600,0.012100,0.012500,0.009900,0.011600,0.012600,0.010700,0.008800,0.8954,0.00828
12,0.010600,0.010700,0.011800,0.011800,0.012900,0.011900,0.009400,0.008300,0.8906,0.00846
13,0.010000,0.011600,0.012300,0.010700,0.012200,0.011200,0.011200,0.008000,0.8936,0.00835
14,0.008800,0.011400,0.010900,0.011100,0.011300,0.012400,0.009900,0.009500,0.8846,0.00839

In [19]:
new_dataset = pd.read_excel('new_dataset.xlsx')
new_dataset.drop(columns=['Unnamed: 0'], inplace=True)
new_dataset

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.008400,0.010400,-0.003300,-0.003300,-0.008600,0.001500,-0.001900,-0.002700,0.5294,0.00733
1,-0.004500,-0.003500,0.005700,0.006200,0.010600,-0.006000,0.010100,0.003700,0.6747,0.00947
2,-0.009300,0.003800,-0.008300,-0.011300,0.003000,-0.002800,-0.009300,0.008500,0.4693,0.00959
3,0.001900,-0.009300,0.006700,0.002500,-0.001200,0.007700,0.002600,-0.009200,0.5034,0.00928
4,0.004500,0.001700,0.002600,0.005000,-0.003900,0.003400,-0.008700,0.010500,0.6249,0.00916
...,...,...,...,...,...,...,...,...,...,...
173,0.011800,0.011500,-0.006400,-0.012000,0.007600,-0.012700,0.010400,0.011000,0.6356,0.00791
174,0.010700,0.011400,-0.007900,-0.011700,0.006600,-0.011500,0.009100,0.012500,0.6318,0.00793
175,0.011941,0.011457,0.002595,0.011851,0.004686,0.011751,0.011638,0.009055,0.8559,0.00815
176,0.010971,0.009855,0.010905,0.012000,0.012000,0.012000,0.008018,0.010972,0.8840,0.00847
177,0.009759,0.011468,0.011841,0.010831,0.012000,0.011967,0.010332,0.008580,0.8908,0.00836

In [20]:
df_concatenated_dataset = pd.concat([new_dataset, new_df])
df_concatenated_dataset

,x1,x2,x3,x4,x5,x6,x7,x8,CL,CD
0,0.0084,0.0104,-0.0033,-0.0033,-0.0086,0.0015,-0.0019,-0.0027,0.5294,0.00733
1,-0.0045,-0.0035,0.0057,0.0062,0.0106,-0.0060,0.0101,0.0037,0.6747,0.00947
2,-0.0093,0.0038,-0.0083,-0.0113,0.0030,-0.0028,-0.0093,0.0085,0.4693,0.00959
3,0.0019,-0.0093,0.0067,0.0025,-0.0012,0.0077,0.0026,-0.0092,0.5034,0.00928
4,0.0045,0.0017,0.0026,0.0050,-0.0039,0.0034,-0.0087,0.0105,0.6249,0.00916
...,...,...,...,...,...,...,...,...,...,...
10,0.0100,0.0098,0.0099,0.0122,0.0113,0.0125,0.0076,0.0119,0.8782,0.00849
11,0.0096,0.0121,0.0125,0.0099,0.0116,0.0126,0.0107,0.0088,0.8954,0.00828
12,0.0106,0.0107,0.0118,0.0118,0.0129,0.0119,0.0094,0.0083,0.8906,0.00846
13,0.0100,0.0116,0.0123,0.0107,0.0122,0.0112,0.0112,0.0080,0.8936,0.00835
14,0.0088,0.0114,0.0109,0.0111,0.0113,0.0124,0.0099,0.0095,0.8846,0.00839

In [21]:
# df_concatenated_dataset.to_excel('new_dataset.xlsx')